@model RPBDISlLab4.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Список Проверок";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Предприятие</th>
            <th>Дата Проверки</th>
            <th>Номер Протокола</th>
            <th>Тип Нарушения</th>
            <th>Ответственный</th>
            <th>Сумма Задолженности</th>
            <th>Дедлайн Оплаты</th>
            <th>Дедлайн Исправления</th>
            <th>Статус Оплаты</th>
            <th>Статус Исправления</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var inspection in Model.Inspections)
        {
            <tr>
                <td>@inspection.Enterprise</td>
                <td>@inspection.InspectionDate.ToShortDateString()</td>
                <td>@inspection.ProtocolNumber</td>
                <td>@inspection.ViolationType</td>
                <td>@inspection.ResponsiblePerson</td>
                <td>@inspection.PenaltyAmount</td>
                <td>@inspection.PaymentDeadline.ToShortDateString()</td>
                <td>@inspection.CorrectionDeadline.ToShortDateString()</td>
                <td>@inspection.PaymentStatus</td>
                <td>@inspection.CorrectionStatus</td>
            </tr>
        }
    </tbody>
</table>
